

.container .text-center{
    margin-top: 56px;
    margin-bottom: 50px;
    z-index: 0;
    
}
.container{
    z-index: 0;
}
.home::before{
    content:'';
    top: 0;
    left: 0;
    width: inherit;
    background-color: rgba(255, 5, 5, 0.575);
    z-index: -1;
    position: absolute;



}
.container .text-center img{
    height: 166px;
    width: 166px;
}
.text-center img{
    border-radius:15px  ;
}
.container-fluid a img{
    height: 50px;
    width: 50px;
}
.bg{
    background-color: rgb(10, 79, 110);
}

.card-img-top{
    height: 205px;
    width: 305px;
}
footer .text-center {
    color: rgb(250, 250, 250);
    margin-top: -20px;
}

.home{
    background-image: url(../image/drap.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 2500px;
    position: relative;
    
   
}
.home .div{
    background-color: rgba(31, 48, 48, 0.411);
    height: 609px;
    
    
}



.card {
    border: none;
}
.block{
    background-color: crimson;
    width: 506px;
    margin-inline-start: 98px;
    margin-inline-end: 98px;
}


.button{
    border-radius: 56px;
    color: rgb(230, 220, 220);
    background-color: rgba(253, 253, 253, 0.192);
    border: none;
    width: 100px;
}
button:hover{
    color: rgb(172, 83, 76);
}
.claude img{
    border-radius: 96px;
    margin-bottom: 5px;
}
.claude .text-center{
    text-align: justify;
    margin-top: -10px;
    
}