

.container .text-center{
    margin-top: 56px;
    margin-bottom: 50px;
    
}
.container .text-center img{
    height: 166px;
    width: 166px;
}
.text-center img{
    border-radius:15px  ;
}
.container-fluid a img{
    height: 50px;
    width: 50px;
}
.bg{
    background-color: rgb(10, 79, 110);
}

.card-img-top{
    height: 205px;
    width: 305px;
}
footer .text-center h1{
    color: rgb(255, 255, 255);
}

.home{
    background-image: url(../image/drap.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1500px;
    background-color: rgb(255, 255, 255);
    
}
.home .div{
    background-color: rgba(31, 48, 48, 0.411);
    height: 75%;
    display: flex; 
   
}
.home .btn{
    border-radius: 45px;
    width: 95px;
    background-color: rgba(255, 255, 255, 0.24);
    color: rgb(255, 255, 255);
    margin-top: 500px;
    border: none;
    margin-left: 600px;
}


.card {
    border: none;
}
.block{
    background-color: crimson;
    width: 506px;
    margin-inline-start: 98px;
    margin-inline-end: 98px;
}
#h7{
    border: none;
}
.button{
    border-radius: 56px;
    color: rgb(252, 252, 252);
    background-color: rgba(253, 253, 253, 0.062);
    border: none;
    width: 80px;
}
